@import url(https://fonts.googleapis.com/css?family=Raleway:900,400,100);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,900);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700);
* { margin:0; padding:0; box-sizing:border-box; border: box; border-style: solid; border-color: #000;}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
body {
	background: #E6F3FF;
	color:#16191D;
	font-family: 'Source Serif Pro', serif;	
	letter-spacing: -0.025;
	word-spacing: 0.041;
	line-height: 1.25;
	font-size:16px;
}
header {
	background-color:#E6F3FF;
    	border: 1px black solid;
    	padding: 20px;
}
 menu{
 	text-align: right;
 	font-family:'Raleway', sans-serif;	
 }
 header.logo { 
	text-align: left;	
	font-family: 'Raleway', sans-serif;
	word-spacing: 0.051em;
}
section#splash {
	background-image: url("../images/Sculpturebysea.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	padding: 18em 0 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;	
	font-weight: 100;
	line-height: 1.5;
}
.cta {
	background:#000000;
	color:#E6F3FF;
	display:inline-block;
	padding:1em 2em;
	text-decoration:none;
}
h1	{
	color:#0B0D0F; 
	font-weight: 100;
	font-size: 2em;
	text-transform: uppercase;
}
div, section {
    border: 1px black solid;
    padding: 2%;
}
aside{
    border: 1px black solid;
    padding: 20px;
}
footer {
    border: 1px black solid;
    padding: 20px;
 }
nav {
    border: 1px black solid;
    padding: 20px;
}
h3 {
	font-size: 1.25em;
	text-transform: uppercase;
	font-family: 'Source Serif Pro', 700 serif;	
	line-height: 1.5em;
}
main{
	display: block;
	padding: 2%
}
h2{
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;	
	font-weight: 900;
	line-height: 1.5em;
}
header .main-menu {
	color: #16191D;
 	text-decoration: none;
 	font-family: 'Roboto', sans-serif;
 	text-align: right;
}
footer, #footer, #contact {
 	color: #16191D;
 	text-decoration: none;
 	font-family: 'Roboto', sans-serif;
 	text-align: center;
}
nav .design, .photograpy, .copy, .Digital {
	display: block;
	text-decoration: none;
}
figure {
	background-color: #FFF;
	display: block;
	float: left;
	text-align: center;
	padding: 2%;
	width: 40%;
	margin: 1.5em;
}
#two_column {
    background-color: #FFF;
    border: 1px black solid;
    padding: 20px;
}
#left {
    background-color: #FFDAB9;
    padding: 20px;
    float: left;
    width: 48%;
}
#right {
    background-color: #FFDAB9;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 48%;
}

 




