@import url(https://fonts.googleapis.com/css?family=Raleway:900,400,100);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,900);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700);
*{margin:0; padding:0}
body{
	background: #FFF;
	color: #16191D;
	font-family: 'Source Serif Pro', serif;
	font-size: 16px;
	letter-spacing: -0.025;
	word-spacing: 0.041;
	line-height: 1.25;
	text-decoration: none;
}
header, footer{
	background:rgb(202, 218, 252);
	display: block;
	margin-top: -2.5em;
  	margin-bottom: -2.5em;
  	padding: -2%;
    	position: fixed;
  	width:100%;
}
header{
	top:2%;
}
#logo{
	float: left;
    	padding: 0.5%;
    	margin: 1.5% 0% 0% 0%;
}
.main-menu{
	color: #16191D;
	float: right;
 	font-family: 'Roboto', sans-serif;
 	margin:1.5em;
	padding: 3% 0 0 0;
	text-align: right;
	width: 40%;
}
#c-1{
	margin-left: 11%;
	position: absolute;
	top: 8%;
	z-index: -2;
}
#c-2{
	margin-left: -7%;
	position: absolute;
	top: -30%;
	z-index: -3;
}
#c-3{
	margin-left:71%;
	position: absolute;
	top: 125%;
	z-index: -1;
}
#c-4{
	margin-left: -4%;
	position: absolute;
	top: 45%;
	z-index: -3;
}
section#splash {
	display: block;
	font-family: 'Raleway', sans-serif;	
	font-weight: 100;
	line-height: 1.5;
	margin: 2%;
	padding: 20% 0 0;
	text-align: center;
	width: 100%;
}
#slogan{
	font-weight: 400;
	margin:8%;
	padding:2%;
	text-align: center;
}
.cta {
	background:#000000;
	color:#FFF;
	display:inline-block;
	padding:1% 2%;
	text-decoration:none;
	margin-top: 5%;
}
h1{
	font-weight: 100;
	font-size: 2em;
	text-transform: uppercase;
}
h2{
	font-family: 'Raleway', sans-serif;	
	font-size: 1.5em;
	font-weight: 900;
	line-height: 1.5em;
	text-transform: uppercase;
}
h3{
	font-size: 1.25em;
	text-transform: uppercase;
	font-family: 'Source Serif Pro', serif;	
	font-weight: 700;
	line-height: 1.5em;
}
nav{
	font-family:'Roboto', sans-serif;
	text-decoration: none;
}
.services{
	display: block;
	float: left;
	margin-left: 28%;
	margin-right: 30%;
	width: 20%;
}
.page{
	padding: 15% 30% 15% 30%;
	width: 40%;
}
#ports{
	padding: 0 30% 0 30%;
}
figure{
	background-color: #FFF;
	display: block;
	float: left;
	left: 20%;
	margin:0.5%;
	padding: 0.8%;
	text-align: center;
	width:10%;
}
footer{
  	background: #fff;
  	top:83%;
}
section, footer, nav{
	display: block;
	padding:2%;
}
.footer-nav, #contact, #address{
	margin-bottom: 0.5% ;
	margin-top: 0%;
	padding: 0%;
	text-align: center;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
