@import url(https://fonts.googleapis.com/css?family=Raleway:900,400,100);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,900);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700);
*{margin:0; padding:0; box-sizing:border-box;}
body{
	background: #FFF;
	color: #16191D;
	font-family: 'Source Serif Pro', serif;
	letter-spacing: -0.025;
	word-spacing: 0.041;
	line-height: 1.25;
	font-size: 16px;
	text-decoration: none;
}
header{
	background-color: #E6F3FF;
	display: block;
    position: fixed;
  	top:2%;
  	width:100%;
  	margin-top: -2.5em;
  	margin-bottom: -2.5em;
  	padding: 1% 0 0 0;
}
#logo{
	display: block;
	border: 1% black solid;
	float: left;
    padding: 1%;
}
.main-menu{
	color: #16191D;
 	font-family: 'Roboto', sans-serif;
	text-align: right;
	text-decoration: none;
 	float: right;
 	text-decoration: none;
	margin:1.5em;
	padding: 7% 0 0 0;
	width: 40%;
}
.circles{
	position: absolute;
	top: 10%;
	margin-left: 30%;
}
section#splash {
	padding: 25% 0 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;	
	font-weight: 100;
	line-height: 1.5;
	width: 100%;
}
#slogan{
	text-align: center;
	font-family: 'Raleway', sans-serif;	
	font-weight: 400;
	line-height: 1.5em;
	margin:2%;
	padding:2%;
}
.cta {
	background:#000000;
	color:#E6F3FF;
	display:inline-block;
	padding:1em 2em;
	text-decoration:none;
}
h1{
	font-weight: 100;
	font-size: 2em;
	text-transform: uppercase;
}
h2{
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;	
	font-weight: 900;
	line-height: 1.5em;
}
h3{
	font-size: 1.25em;
	text-transform: uppercase;
	font-family: 'Source Serif Pro', serif;	
	font-weight: 700;
	line-height: 1.5em;
}
nav{
	font-family:'Roboto', sans-serif;
	text-decoration: none;
}
.page{
	padding: 2% 30% 2% 30%;
}
#ports{
	padding: 0 30% 0 30%;

}
section, footer, nav{
	border: 1px black solid;
	display: block;
	padding:2%;
}
#footer-nav, #contact, #address{
	text-align: center;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}