@import url(https://fonts.googleapis.com/css?family=Raleway:900,400,100);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,900);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700);
*{margin:0;padding:0;box-sizing: border-box;}
body{
	background:#FFF;
	color: #16191D;
	font-family: 'Source Serif Pro', serif;
	font-size: 16px;
	letter-spacing: -0.025em;
	word-spacing: 0.041em;
	line-height: 1.25em;
	text-decoration: none;
}
header{
	background:rgb(202, 218, 252);
	display: block;
	top: 0%;
	padding: -2%;
	position: fixed;
	width:100%;
	top: 0;
	z-index:1;
}
#logo{
	float: left;
    	padding: 0.5%;
    	margin: 1.5% 0% 0% 0%;
}
.main-menu{
	color: #16191D;
	float: right;
 	font-family: 'Roboto', sans-serif;
 	margin:1.5em;
	padding: 3% 0 0 0;
	text-align: right;
	width: 40%;
}
.balloons{
	border-radius: 50%;
	position: absolute;
}
.balloon-drops{
	background: rgb(254, 233, 214);
	border-radius: 50%;
	height:2vw;
	width: 2vw;
	position: absolute;
	z-index: -2;
}
#c-0{
	background: rgb(255, 255, 255);
	height:30vw;
	width: 30vw;
	left: -15%;
	bottom:35%;
	z-index: -2;
}
#c-1{
	background: rgb(254, 233, 214);
	height:50vw;
	width: 50vw;
	left:25%;
	top: 2.5%;
	z-index: -2;
}
#c-1-1{
	background: rgba(254, 233, 214, .70);
	height:25vw;
	width: 25vw;
	left:50%;
	bottom: -80%;
	z-index: -2;
}
#c-1-a{
	left:-78%;
	bottom: 20%;
}
#c-1-b{
	left:-67%;
	bottom: 20%;
}
#c-1-c{
	left:-56%;
	bottom: 20%;
}
#c-1-d{
	left:-45%;
	bottom: 20%;
}
#c-1-e{
	left:-34%;
	bottom: 20%;
}
#c-1a{
	margin-left: -18%;
	position: absolute;
	top: 235%;
	z-index: -4;
}
#c-2{
	background: rgb(124, 124, 123);
	height:50vw;
	width: 50vw;
	left: -12%;
	top: -80%;
	z-index: -3;
}
#c-3{
	background: rgb(237, 20, 91);
	height:75vw;
	width: 75vw;
	border-radius: 50%;
	left:200%;
	position: absolute;
	top:0%;
	z-index: -1;
}
#c-4{
	background: rgba(189, 189, 189, .40);
	height:30vw;
	width: 30vw;
	left: 15%;
	position: absolute;
	top:20%;
	z-index: -4;
}
#c-4a{
	background: rgba(189, 189, 189, .70);
	height:30vw;
	width: 30vw;
	left: 0%;
	bottom: 8%;
	z-index: -3;
}
#c-4b{
	background: rgba(0, 0, 0, .70);
	height:30vw;
	width: 30vw;
	left: -3%;
	bottom:21%;
	z-index: -3;
}
#c-5{
	background: rgba(239, 244, 254, .70);
	height:25vw;
	width: 25vw;
	left:-5%;
	bottom: -80%;
	z-index: -2;
}

section#splash {
	display: block;
	font-family: 'Raleway', sans-serif;	
	font-weight: 100;
	line-height: 2em;
	margin: 10% 0 10% 0;
	padding: 15% 0 0;
	text-align: center;
	width: 100%;
}
#slogan{
	font-weight: 400;
	margin:5%;
	padding:2%;
	text-align: center;
}
.cta {
	background:#000000;
	color:#FFF;
	display:inline-block;
	padding:1% 2%;
	text-decoration:none;
	margin-top: 5%;
}
h1{
	font-weight: 100;
	font-size: 2em;
	text-transform: uppercase;
}
h2{
	font-family: 'Raleway', sans-serif;	
	font-size: 1.5em;
	font-weight: 900;
	line-height: 1.5em;
	text-transform: uppercase;
}
h3{
	font-size: 1.25em;
	text-transform: uppercase;
	font-family: 'Source Serif Pro', serif;	
	font-weight: 700;
	line-height: 1.5em;
}
nav{
	font-family:'Roboto', sans-serif;
	text-decoration: none;
}
nav a {
	color:inherit;
	text-decoration:none;
	padding:2em;
}
#about{
	top: 10%;
}
.page{
	max-width: 45em;
	margin: auto;
	padding:10em 2em 5em 2em;
	clear: both;
	position: relative;
}
#why-us {
	left: 20%;
}
#ports{
	margin:auto;
	max-width:35em;
}
.services{
	display: block;
	float: left;
	margin: auto;
	max-width:35em;
}
figure{
	display: block;
	float: left;
	margin:0.5% 0.5% 5% 0.5%;
	padding:1%;
	text-align: center;
	width:45%;
}
#contact-us{
	top:25%;
	bottom: 5%;
	padding:15em 2em 20em 2em;
}
footer{
  	background: #fff;
  	/* top:83%; */
}
section, footer, nav{
	display: block;
	padding:2%;
	position: relative;
}
.footer-nav, #contact, #address{
	margin-bottom: 0.5% ;
	margin-top: 0%;
	padding: 0%;
	text-align: center;
}
.clearfix:after {
	visibility: hidden;
    	display: block;
    	font-size: 0;
    	content: " ";
    	clear: both;
    	height: 0;
}
