@import url(https://fonts.googleapis.com/css?family=Raleway:900,400,100);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,900);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700);
* { margin:0; padding:0; box-sizing:border-box; border: box; border-style: solid; border-color: #000; width:1060;}
html{
	overflow-x:hidden;
}
body{
	background:#FFF;
	color: #16191D;
	font-family: 'Source Serif Pro', serif;
	font-size: 16px;
	letter-spacing: 0.025em;
	word-spacing: 0.041em;
	line-height: 1.25em;
	text-decoration: none;
	overflow-x:hidden;
}
header{
	background:rgb(202, 218, 252);
	display: block;
	top: 0%;
	padding: 2%;
	position: fixed;
	width:100%;
	top: 0;
	z-index:1;
}
#logo{
	float: left;
    	padding: 0.5%;
    	margin: 1.5% 0% 0% 0%;
}
.main-menu{
	color: #16191D;
	float: right;
 	font-family: 'Roboto', sans-serif;
 	letter-spacing: 0.010em;
 	line-height: 2em;
 	margin:1.5em;
	padding: 3% 0% 0% 0%;
	text-align: right;
	max-width: 40em;
}
section#splash {
	background-image: url("../images/Sculpturebysea.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	padding: 18em 0 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;	
	font-weight: 100;
	line-height: 1.5;
}
#splash-circle{
	background-image: url("../images/Sculpturebyseacircle.png");
	border-radius:50%;
	position: absolute;
	height:500px;
	width: 500px;
	left:18%;
	top: 30%;
	z-index: -2;
	visibility: hidden;
	}
#slogan{
	font-weight: 400;
	margin:5%;
	padding:2%;
	text-align: center;
}
.cta {
	background:#000000;
	color:#FFF;
	display:inline-block;
	padding:1% 2%;
	text-decoration:none;
	margin-top: 5%;
}
h1{
	font-weight: 100;
	font-size: 2em;
	text-transform: uppercase;
}
h2{
	font-family: 'Raleway', sans-serif;	
	font-size: 1.5em;
	font-weight: 900;
	line-height: 1.5em;
	text-transform: uppercase;
}
h3{
	font-size: 1.25em;
	text-transform: uppercase;
	font-family: 'Source Serif Pro', serif;	
	font-weight: 700;
	line-height: 1.5em;
}
nav{
	font-family:'Roboto', sans-serif;
	text-decoration: none;
}
nav a {
	color:inherit;
	text-decoration:none;
	padding:2em;
}
#about{
	top: 10%;
}
.page{
	max-width: 45em;
	margin: auto;
	padding:10em 2em 5em 2em;
	clear: both;
	position: relative;
}
#why-us {
	float:right;
	max-width:auto;
}
#ports{
	float:left;
	left:35%;
	margin:auto;
	max-width:45em;
}
.services{
	display: block;
	float: left;
	margin: auto;
	max-width:35em;
}
figure{
	display: block;
	float: left;
	margin:0.5% 0.5% 5% 0.5%;
	padding:1%;
	text-align: center;
	width:15em;
}
#contact-us{
	top:25%;
	bottom: 5%;
	padding:15em 2em 20em 2em;
}
footer{
  	background: #fff;
}
section, footer, nav{
	display: block;
	padding:2%;
	position: relative;
}
.footer-nav, #social{
	bottom: 0.5% ;
	top: 0%;
	padding: 0%;
	text-align: center;
}
.clearfix:after {
	visibility: hidden;
    	display: block;
    	font-size: 0;
    	content: " ";
    	clear: both;
    	height: 0;
}
@media only screen and (min-width:320px) and (max-width:767px){
header{
	margin:0%;
	padding:2%;
	position:static;
	}
#splash{
	visibility: hidden;
}
.splash-info{
	top:100%;
	padding: 50% 0 0;
	max-width: auto;
	visibility: visible;
	}
#why-nav, #blog-nav{
	display:none;
}
.main-menu {
	line-height:2em;
	margin:0;
	max-width:10em;
	padding:2%;
	}
#ports{
	left:25%;
	line-height:3em;
	text-align: center;
	max-width:10em;
	padding:2%;
    	}
#splash-circle{
	height:500px;
	width:500px;
	top:-5%;
	left:-30%;
	}
#why-us{
	margin:0%;
	padding:0%;
	display:none;
	}
#community{
	margin:0%;
	padding:0%;
	display:none;
	} 
#our-services{
	margin:auto;
	padding:0%;
	display:none;
	}
#blog{
	margin:0%;
	padding:0%;
	display:none;
	}
.services{
	margin:0%;
	padding:0%;
	display:none;
	}
nav a{
	padding:1em;
	}
}
@media only screen and (min-width:768px) and (max-width:1024px){
nav a{
	padding:1em;
	}
#splash-circle{
	height:600px;
	width:600px;
	left:21%;
	}
#ports{
	margin:auto;
	}
.splash-info{
	margin: 50% 0 10% 0;
	max-width: auto;
	}
}
@media only screen and (min-width:425px) and (max-width:768px){
.splash-info{
	top: 95%;
	max-width: auto;
	}
#splash-circle{
	height:600px;
	width:600px;
	left:10%;
	top:0%;
	}
}
@media only screen and (min-width:375px) and (max-width:425px){
#splash-circle{
	height:500px;
	width:500px;
	left:-11%;
	top:-2%;
	}
}
