@import url(https://fonts.googleapis.com/css?family=Raleway:900,400,100);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,900);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700);
* { margin:0; padding:0; box-sizing:border-box; border: box; border-style: solid; border-color: #000; width:1060;}
html{
	overflow-x:hidden;
}
body{
	background:#FFF;
	color: #16191D;
	font-family: 'Source Serif Pro', serif;
	font-size: 16px;
	letter-spacing: 0.025em;
	word-spacing: 0.041em;
	line-height: 1.25em;
	text-decoration: none;
	overflow-x:hidden;
}
header{
	background:#E6F3FF;
	display: block;
	top: 0%;
	padding: 2%;
	position: fixed;
	width:100%;
	top: 0;
	z-index:1;
}
#logo{
	float: left;
    	padding: 0.5%;
    	margin: 1.5% 0% 0% 0%;
}
.main-menu{
	color: #16191D;
	float: right;
 	font-family: 'Roboto', sans-serif;
 	letter-spacing: 0.010em;
 	line-height: 2em;
 	margin:1.5em;
	padding: 3% 0% 0% 0%;
	text-align: right;
	max-width: 40em;
}
section#splash {
	background-image: url("../images/Sculpturebysea.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	padding: 18em 0 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;	
	font-weight: 100;
	line-height: 1.5;
}
#slogan{
	text-align: center;
	font-family: 'Raleway', sans-serif;	
	font-weight: 400;
	line-height: 1.5em;
	margin:2%;
	padding:2%;
}
.cta {
	background:#000000;
	color:#E6F3FF;
	display:inline-block;
	padding:1em 2em;
	text-decoration:none;
}
h1{
	font-weight: 100;
	font-size: 2em;
	text-transform: uppercase;
}
h2{
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;	
	font-weight: 900;
	line-height: 1.5em;
}
h3{
	font-size: 1.25em;
	text-transform: uppercase;
	font-family: 'Source Serif Pro', serif;	
	font-weight: 700;
	line-height: 1.5em;
}
nav a {
	color:inherit;
	text-decoration:none;
	padding:2em;
}
nav{
	font-family:'Roboto', sans-serif;
	text-decoration: none;
}
.page{
	max-width: 45em;
	margin: auto;
	padding:10em 2em 5em 2em;
	clear: both;
	position: relative;
}
#ports{
	max-width:45em;
	margin:auto;
	padding:0em 2em 5em 2em;
	clear: both;
	position: relative;
}
#our-services{
	padding:10em 2em 0em 2em;
}
.services{
	padding:0em 2em 5em 2em;
}
#two-columns{
	border: 1% black solid;
	padding: 2%;
}
figure{
	background-color: #FFF;
	display: block;
	float: left;
	text-align: center;
	margin:0.5%;
	padding: 0.8%;
	width: 45%;
}
#left{
	float:left;
	width: 48%;
}
#right{
	float:right;
	padding:1%;
	width: 50%;
}
#contact-us{
	text-align: center;
}
section, footer, nav{
	border: 1% black solid;
	display: block;
	padding:2%;
}
footer{
	text-align: center;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
@media only screen and (min-width: 320px) and (max-width:768px){
section#splash {
	background-image: none;
	font-weight: 400;
}
#splash-circle{
	background-image: url("../images/Sculpturebyseacircle.png");
	border-radius:50%;
	position: absolute;
	height:500px;
	width: 500px;
	left:18%;
	top: 30%;
	z-index: -2;
	}
figure{
	float: none;
	width: 45em;
}
#left{
	float:none;
	width:auto;
	}
#right{
	float:none;
	}
.page{
	max-width:auto;
	}
}
@media only screen and (max-width: 320px){
header{
	margin:0%;
	padding:2%;
	max-width:100%
	position:static;
	}
#splash{
	top:100%;
	padding: 50% 0 0;
	max-width: auto;
	top: 95%;
	}
#why-nav, #blog-nav, #port-nav{
	display:none;
}
.main-menu {
	line-height:2em;
	margin:0;
	max-width:10em;
	padding:2%;
	}
#splash-circle{
	height:600px;
	width:600px;
	left:5%;
	top:0%;
	}
nav a{
	padding:1em;
	}	
#why-us{
	margin:0%;
	padding:0%;
	display:none;
	}
#portfolio{
	display:none;
}
#ports{
	left:25%;
	line-height:3em;
	text-align: center;
	max-width:10em;
	padding:2%;
	display:none;
    	}
#community{
	margin:0%;
	padding:0%;
	display:none;
	} 
#our-services{
	margin:auto;
	padding:0%;
	display:none;
	}
.services{
	margin:0%;
	padding:0%;
	display:none;
	}
}
