@import url(https://fonts.googleapis.com/css?family=Raleway:900,400,100);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,900);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700);
* { margin:0; padding:0; box-sizing:border-box; border: box; border-style: solid; border-color: #000;}
body {
	background: #E6F3FF;
	color:#16191D;
	font-family: 'Source Serif Pro', serif;	
	letter-spacing: -0.025;
	word-spacing: 0.041;
	line-height: 1.25;
	font-size:16px;
}
header {
	background-color:#FFED74;
    border: 1px black solid;
    padding: 20px;
}
 menu{
 	text-align: right;
 	font-family:'Raleway', sans-serif;	
 }
 header.logo { 
	text-align: left;	
	font-family: 'Raleway', sans-serif;
	word-spacing: 0.051em;
}
section#splash {
	background-image: url("../images/Sculpturebysea.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	padding: 18em 0 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;	
	font-weight: 100;
	line-height: 1.5;
}
.cta {
	background:#000000;
	color:#E6F3FF;
	display:inline-block;
	padding:1em 2em;
	text-decoration:none;
}
h1	{
	color:#0B0D0F; 
	font-weight: 100;
	font-size: 2em;
	text-transform: uppercase;
}
article {
	background-color:#E89C6C;
    border: 1px black solid;
    padding: 20px;
}
div, section {
    background-color:#FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
h2.sectionhead {
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;	
	font-weight: 900;
	line-height: 1.5em;
h3 {
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: 'Source Serif Pro', serif;	
	font-weight: 400;
	line-height: 1.5em;
}
.design, .photograpy, .copy, .Digital {
	display: block;
	text-decoration: none;
}
nav, footer, #footer, #contact {
 	color: #16191D;
 	text-decoration: none;
 	font-family: 'Roboto', sans-serif;
 	font-weight: 100;
 	text-align: center;
 }
 footer {
 	background-color: [enter color here];
    border: 1px black solid;
    padding: 20px;
 }




